# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [1]:
import time
timing=list(time.localtime())
print(f"{timing[0]}-{timing[1]}-{timing[2]} {timing[3]}:{timing[4]}:{timing[5]}")

2023-8-6 2:18:3

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [2]:
import math
def area(r):
    return math.pi*r**2
area(2)

12.566370614359172

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [3]:
input_list = [2,4,5,5,7,9]
compare=list(set(input_list))
print(compare==input_list)

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, 'â€”': 1}`

In [4]:
file=open('data\lil-wayne.txt','r').read()
file=file.upper()
counter={}
for word in file:
    for letter in word:
        if letter in counter:
            counter[letter]+=1
        else:
            counter[letter]=1
print(counter)

FileNotFoundError: [Errno 2] No such file or directory: 'data\\lil-wayne.txt'

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [ ]:
print(dict(sorted(counter.items(),key=lambda x:x[1],reverse=True)))

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [5]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
list1.append(list1[3]*list1[-1])
list1.remove(list1[3])
print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [6]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list=[]
for i in range(len(original_list)):
    if original_list[i]%3==0:
        new_list.append(original_list[i])
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [7]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
for i in range(len(original_list)):
    move=original_list[i]
    hold=original_list[len(original_list)-i-1]
    original_list[len(original_list)-i-1]=move
    original_list[i]=hold
    if i==int(len(original_list)/2):
        break
print(original_list)

[21, 19, 15, 8, 9, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [8]:
original_list = [1, 2, 3, 4, 5, 6, 7]
for i in range(len(original_list)):
    original_list[i]*=original_list[i]
print(original_list)

#other way (Numpy uses vectorization which makes this process faster by harnassing the processing power of the GPU)
original_list = [1, 2, 3, 4, 5, 6, 7]
import numpy as np
original_list=np.square(original_list)
print(original_list)

[1, 4, 9, 16, 25, 36, 49]
[ 1  4  9 16 25 36 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [9]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i in range(len(list1)):
    print(list1[i],list2[3-i],sep=" ")

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [28]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']
temp=[]
count=0
for i in list_of_strings:
    if i!='':
        temp.append(i)
        count+=1
list_of_strings=temp
temp=[]
print(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [29]:
sample_dict = {'a': 100, 'b': 9989, 'c': 300}
c=0
for i in sample_dict.values():
    c+=1
    if i==999:
        print("True")
        break
    #elif i==list(sample_dict.values())[-1]:
    #    print("False") if uniqu
    elif c==len(sample_dict):
        print("False") # end of list

False

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [30]:
import pandas as pd
import os


df = pd.read_csv('C:/Users/georg/OneDrive/Desktop/Summer/week_3/2023-python-summer-prep/week-03/data/titanic.csv')

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [31]:
import numpy
print(np.mean(df["age"])) #Assuming no NAN values

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [32]:
print((max(df["age"])))
print((min(df["age"])))

80.0
0.42

## How many people embarked from station 'S'?

In [33]:
print(sum(df["embarked"]=="S"))

644